/* outermost containers and page-rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

img {
    user-select: none;
    height: 55%;
}

body {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%)); 
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}
  
body::-webkit-scrollbar {
    display: none;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
}

/* creates and adjusts modals and other pop up features */
.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.rules-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: whitesmoke;
    padding-bottom: 50px;
    width: 475px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.768);
}

.modal-close {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
}

.modal-close > span {
    margin-left: 25px;
    font-weight: 700;
    font-size: 30px;
    color: hsl(246deg 11% 37%);
}

#modal-close {
    
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 13px;
    margin-right: 13px;
    transition: .1s;
}

.close-button {
    height: 23px;
}

.bonus-rules {
    height: 450px;
    margin-right:5px;
}

#modal-close:hover {
    cursor: pointer;
}


/* inner content (main 2 boxes) of site */
.inner-boxes {
    padding-top:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-box {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgba(150, 150, 150, 0.159);
    height: 150px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 100px;

}

#game-box {
    display: none;
    pointer-events: none;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
}

#game-box.show {
    display: flex;
}

.box-player, .box-house {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 60px;
}

.box-player h1 {
    top: -90px;
    color: white;
    position: absolute;
    font-weight: 100;
    font-size: 30px;
}

.player-color-box {
    opacity: 0;
    width: 42vw;
    height: 42vw;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 0.08)  , rgba(255, 255, 255, 0.08) 41%, rgba(255, 255, 255, 0.05) 40%, rgba(255, 255, 255, 0.05) 56%, rgba(255, 255, 255, 0.02) 55%, rgba(255, 255, 255, 0.02) 100%);
    z-index: -1;
}

.player-color-box.show {
    
    opacity: 1;
}

.house-color-box {
    opacity: 0;
    width: 42vw;
    height: 42vw;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 0.08)  0%, rgba(255, 255, 255, 0.08) 40%, rgba(255, 255, 255, 0.05) 40%, rgba(255, 255, 255, 0.05) 55%, rgba(255, 255, 255, 0.02) 55%, rgba(255, 255, 255, 0.02) 100%);
    z-index: -1;
}

.house-color-box.show {
    opacity: 1;
}

.box-house h1 {
    top: -90px;
    color: white;
    position: absolute;
    font-weight: 100;
    font-size: 30px;
}


.house-pick, .player-pick {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
}

.bottom-box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/*hides bottom box and disable any clicking below bottom box*/
.bottom-box.hide {
    display: none;
    pointer-events: none;

}

/* adjusts boxes that inlude player and house score */
.player-choices {
    width: 100%;
    margin-left: 30px;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 112px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.36);

}

p1 {
    margin-top: 15px;
    color: hsl(229, 64%, 46%);
}

output {
    font-weight: 700;
    font-size: 60px;
    color: hsl(246deg 11% 37%);

}

/* adjusts buttons and positioning of buttons */
button {
    border: none;
    outline: none;
}

.image-box {
    position: relative;
}

.outer-icon-box {
    position: absolute;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    box-shadow: inset 0px -6px 1px 0px rgba(0, 0, 0, 0.353);
}

#clonedId {
    position: static;
    height: 100%;
    width: 100%;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.pentagon {

    height: 360px;
}

.icon-boundaries {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77%;
    background-color: white;
    box-shadow: inset 0px 8px 3px 0px rgba(0, 0, 0, 0.247);
    border-radius: 50%;
    width: 77%;
}

.icon-boundaries:hover {
    cursor: pointer;
}

#rock {
    bottom: -65px;
    left: 250px;
    background-color: hsl(349deg 69% 54%);
}

#paper {
    top: 75px;
    left: 315px;
    background-color: hsl(230deg 86% 63%);
}

#scissors {
    
    top: -80px;
    left: 120px;
    background-color: hsl(38deg 88% 53%);

}

#lizard {
    bottom: -65px;
    left: -10px;
    background-color: hsl(261deg 73% 63%);
}

#spock {
    top: 75px;
    left: -75px;
    background-color: hsl(189deg 57% 57%);
}

/* adjusts effects, positioning, and size of rules and reset buttons */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 175px;
    padding-right: 130px;
    
}

.buttons.hide {
    display: none;
}

#delay1, #delay2, #delay3 {
    display: none;
    pointer-events: none;
    color: transparent;
}

.delay-box {
    position: absolute;
    font-size:80px;
    top: 47%;
}

#delay1.show, #delay2.show, #delay3.show {
    display: flex;
    color: white;
}

#delay3.show {
    display: flex;
    color: white;
}

#delay2.show {
    display: flex;
    color: white;
}

.rematch {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rematch.show {
    display: flex;
}

#match-results {
    top: -90px;
    color: white;
    font-weight: 100;
    font-size: 60px;
    
}

#rematch-button {
    background-color: white;
    color: #1e3453;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    pointer-events: auto;
    margin: 20px;
    cursor: pointer;
}

.reset, .rules {
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 20px;
    border: 1px solid white;
    transition: .1s;
}

.reset:hover {
    background-color: white;
    color: hsl(232deg 48% 16%);
    cursor: pointer;
}

.rules:hover {
    background-color: white;
    color: hsl(232deg 48% 16%);
    cursor: pointer;
}

@media (max-width: 1030px) {
    .box-house h1, .box-player h1 {
        text-align: center;
        font-size: 17px;
    }

    .box-house, .box-player {
    width: 130px;
    height: 130px;
    }

    #match-results {
        font-size: 40px;
    }

    .bottom-box {
        margin-top: 0px;
    }

    .player-choices {
        margin-left: 9px;
    }

    .score-box {
        margin-right: 5px;
    }
}

@media (max-width: 583px) {

    .image-box {
        margin-top: 50px;
    }

    .rules-modal {
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
    }

    .modal-close {
        justify-content: center;
    }

    .modal-close > span {
        justify-content: center;
        margin-left: 0;
    }

    .bonus-rules {
        margin-right: 0;
        padding-bottom: 50px;
        height: 275px;
    }

    #modal-close {
        margin-top: 0;
        margin-right: 0;
        position: absolute;
        bottom: 0;
        padding-bottom: 60px;
    }

    .delay-box {
        font-size: 150px;
        top: 60%;
    }

    .player-color-box, .house-color-box {
        width: 80vw;
        height: 80vw;
    }

    .player-color-box {
        margin-left: 5px;
    }

    .house-color-box {
        margin-right: 5px;
    }

    #rematch-button {
        top: 530px;
        position: absolute;
        height: 50px;
        width: 250px;
        font-size: 20px;
        margin: 10px;
    }

    #match-results {
        position: absolute;
        top: 475px;
        font-size: 55px;
    }

    .box-house h1, .box-player h1 {
        padding-top: 265px;
        width: 124px;
        font-size: 16px;
    }

    .box-house, .box-player {
        margin: 30px;
    }

    #game-box {
        margin: 0;
    }
    

    .outer-icon-box {
        height: 80px;
        width: 80px;
        box-shadow: inset 0px -3.5px 1px 0px rgb(0 0 0 / 35%);
    }

    .player-choices img {
        height: 90px;
    }
    
    .top-box {
        padding: 5px;
        width: 90%;
        margin-top: 0px;
        margin-bottom: 60px;
    }

    .bottom-box {
        margin-top: 0px;
    }

    .player-choices {
        margin-left: 9px;
    }

    #player-pick {
        margin-left: 5px;
    }

    #house-pick {
        margin-right: 5px;
    }

    .score-box {
        margin-right: 5px;
        font-size: 14px;
    }

    .pentagon {
        height: 200px;
        margin-bottom: 50px;
    }

    .icon-box {
        width: 100%;
        height: 100%;
    }

    .icon-boundaries {
        height: 75%;
        width: 75%;
        box-shadow: inset 0px 6px 2.5px 0px rgba(0, 0, 0, 0.247);
    }

    .buttons {
        flex-direction: column;
        height: 275px;
        padding-right: 0;
        justify-content: flex-end;
        align-items: center;
    }
    
    .reset, .rules {
        margin-left: 0px;
    }

    .rules {
        margin-bottom: 8px;
    }

    #lizard {
        bottom: 14px;
        left: 0px;
    }
    #paper {
        top: 31px;
        left: 164px;
    }
    #spock {
        top: 31px;
        left: -36px;
    }
    #scissors {
        top: -43px;
        left: 70px;
    }
    #rock {
        bottom: 14px;
        left: 136px;
    }
}

