/* outermost containers and page-rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

img {
    user-select: none;
    
}

body {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}

.container {

    height: 100vh;
    min-width: 100vw;
}

/* creates and adjusts modals and other pop up features */
.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.rules-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: whitesmoke;
    padding-bottom: 50px;
    width: 475px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.768);
}

.modal-close {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
}

.modal-close > span {
    margin-left: 25px;
    font-weight: 700;
    font-size: 30px;
    color: hsl(246deg 11% 37%);
}

#modal-close {
    
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 13px;
    margin-right: 13px;
    transition: .1s;
}

.close-button {
    height: 23px;
}

.bonus-rules {
    height: 450px;
    margin-right:5px;
}

#modal-close:hover {
    cursor: pointer;
}


/* inner content (main 2 boxes) of site */
.inner-boxes {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    padding-top:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-box {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgba(150, 150, 150, 0.159);
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 100px;

}

.bottom-box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/* adjusts boxes that inlude player and house score */
.player-choices {
    width: 100%;
    margin-left: 30px;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 112px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.36);

}

p1 {
    margin-top: 15px;
    color: hsl(229, 64%, 46%);
}

output {
    font-weight: 700;
    font-size: 60px;
    color: hsl(246deg 11% 37%);

}

/* adjusts buttons and positioning of buttons */
button {
    border: none;
    outline: none;
}

.image-box {
    position: relative;
}

.icon-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    border-radius: 50%;
    width: 144px;
    box-shadow: inset 0px -6px 1px 0px rgba(0, 0, 0, 0.353);
}


.pentagon {

    height: 360px;
}

.icon-boundaries {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: white;
    box-shadow: inset 0px 8px 3px 0px rgba(0, 0, 0, 0.247);
    border-radius: 50%;
    width: 110px;
}

.icon-boundaries:hover {
    cursor: pointer;
}

#rock {
    bottom: -65px;
    left: 250px;
    background-color: hsl(349deg 69% 54%);
}

#paper {
    top: 75px;
    left: 315px;
    background-color: hsl(230deg 86% 63%);
}

#scissors {
    
    top: -80px;
    left: 120px;
    background-color: hsl(38deg 88% 53%);

}

#lizard {
    bottom: -65px;
    left: -10px;
    background-color: hsl(261deg 73% 63%);
}

#spock {
    top: 75px;
    left: -75px;
    background-color: hsl(189deg 57% 57%);
}

/* adjusts effects, positioning, and size of rules and reset buttons */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 175px;
    padding-right: 130px;
    
}

.reset, .rules {
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 20px;
    border: 1px solid white;
    transition: .1s;
}

.reset:hover {
    background-color: white;
    color: hsl(232deg 48% 16%);
    cursor: pointer;
}

.rules:hover {
    background-color: white;
    color: hsl(232deg 48% 16%);
    cursor: pointer;
}

@media (max-width: 1030px) {
    
    .top-box {
        width: 85%;
    }

    .bottom-box {
        margin-top: 0px;
    }

    .player-choices {
        margin-left: 9px;
    }

    .score-box {
        margin-right: 5px;
    }
}

@media (max-width: 425px) {
    .bottom-box {
        margin-top: 0px;
    }

    .bonus-rules {
        height: 325px;
    }

    .rules-modal {
        width: 350px;
        height: 460px;
    }
}

@media (max-width: 375px) {


    .top-box {
        width: 100%;
    }

    .bottom-box {
        margin-top: 0px;
    }

    .player-choices {
        margin-left: 9px;
    }

    .score-box {
        margin-right: 5px;
    }

    .pentagon {
        height: 200px;
        margin-bottom: 50px;
    }

    .icon-box {
        width: 80px;
        height: 80px;
        box-shadow: inset 0px 8px 3px 0px rgba(0, 0, 0, 0.247);
    }

    .icon-boundaries {
        height: 62px;
        width: 62px;
        box-shadow: inset 0px 8px 3px 0px rgba(0, 0, 0, 0.247);
    }

    .game-images {
        height: 60%;
    }

    .buttons {
        flex-direction: column;
        height: 110px;
        padding-right: 0;
        justify-content: flex-end;
        align-items: center;
    }
    
    .reset, .rules {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    #lizard {
        bottom: 14px;
        left: 0px;
    }
    #paper {
        top: 31px;
        left: 164px;
    }
    #spock {
        top: 31px;
        left: -36px;
    }
    #scissors {
        top: -43px;
        left: 70px;
    }
    #rock {
        bottom: 14px;
        left: 136px;
    }
}
